#about
  p
    font-size: 1.8rem
    text-align: justify
    margin: 20px
    padding: 10px 30px
    background: rgba($header, 0.6)

  #contact
    width: 32rem
    margin: auto

    #map
      height: 32rem
      margin: 20px 0

      h1
        color: black
        font-size: 1rem
        margin-bottom: 0.5rem

    p
      text-align: center
      margin: 20px 0

    #email
      display: block
      margin: 0 auto 20px
      text-align: center
      color: inherit
      text-decoration: none
      font-size: 2rem
      padding: 10px 0
      background: $header
      word-wrap: break-word

  #staff
    display: flex
    justify-content: space-around
    margin-top: 40px

    .person
      display: inline-block

      img
        height: 10rem
        width: 10rem
        border-radius: 50%

      span
        display: block
        text-align: center
        margin-top: 10px
        font:
          size: 1.5rem
          weight: 600
