#about
  p
    font-size: 2rem
    margin-top: 30px
    text-align: center

  #staff
    display: flex
    justify-content: space-around
    margin-top: 40px

    .person
      display: inline-block

      img
        height: 10rem
        width: 10rem
        border-radius: 50%

      span
        display: block
        text-align: center
        margin-top: 10px
        font:
          size: 1.5rem
          weight: 600
