#events
  #calendar
    width: calc(100% - 60px)
    margin: 20px 30px

  .tab-past-events, .tab-upcoming-events, .tab-calendar-events, .tab-export-calendar, .dsm-cal-btn
    background-color: $calendar !important
