#events
  height: auto

  #calendar
    font-family: 'uvf_bourgeois_med'
    width: calc(100% - 60px)
    margin: 20px 30px
    font-size: 1.2rem

    .fc-other-month
      opacity: 0.8

    .fc-day
      background: lighten($button, 5%)

      &.fc-today
        background: darken($button, 5%)

    .fc-widget-header
      background: darken($button, 5%)

    .fc-button
      background: $button
      outline: none
      border: none
      color: inherit

  #mc_embed_signup
    display: flex
    justify-content: center
    padding: 20px 0

    label, .email
      font-family: 'uvf_bourgeois_med'
      font-size: 1.5rem

    .email, .email:hover, .email:focus
      display: block
      margin: 15px 5px
      padding: 10px
      width: 280px
      outline: none
      border: none
      background: $input
      color: inherit
      font-size: 1.2rem

    .button
      background: darken($button, 5%)
      outline: none
      border: none
      border-radius: 10px
      padding: 10px
      color: inherit
      font-family: inherit
      font-size: 1rem
