#games
  p
    font-size: 1.2rem
    text-align: center
    margin: 5px

  .game
    img, img:hover
      width: calc(100% - 20px)
      margin: 5px 10px
      cursor: pointer

    .game-details
      display: none
      margin: 0 10px
      padding: 10px 30px
      background: rgba($light-blue, 0.6)

      h2
        font-size: 2rem

      p
        font-size: 1.8rem
        text-align: justify
        margin: 0 0 20px 0

      .team-faces
        display: flex
        justify-content: space-around
        flex-wrap: wrap

        .person
          img
            height: 10rem
            width: 10rem
            border-radius: 50%
            cursor: auto

          p
            text-align: center
