#games
  p
    font-size: 20px
    text-align: center

  .game
    img
      height: 300px
      width: calc(100% - 20px)
      margin: 5px 10px
      cursor: pointer

    .game-details
      display: none
      margin: 0 10px

      p
        font-size: 20px
        margin-bottom: 20px

      @media (max-width: 1000px)
        p
          font-size: 30px

      .team-faces
        display: flex
        justify-content: space-around
        flex-wrap: wrap

        .person
          img
            height: 200px
            width: 200px
            border-radius: 50%
            cursor: auto

          p
            text-align: center
