#home
  display: flex
  align-items: center
  justify-content: center

  h1
    font-size: 6rem

  p
    text-align: center
    margin-top: 10px
    font-size: 3rem

  a
    display: block
    text-align: center
    margin-top: 10px
    text-decoration: none
    font:
      family: 'uvf_bourgeois_med'
      size: 1.8rem
