#socials
  #social-widgets
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    align-items: center
    align-content: center

    iframe
      height: 500px
      width: 500px
      margin: 30px 0

    @media (max-width: 900px)
      iframe
        height: 400px
        width: 400px
