// Webite header navigation on desktop
mixin computer-header(page)
  header
    a(href='index.html')
      img(src='img/logo.png')
    img(src='img/mobile/nav.png')#mobile-header-toggle
    nav
      if page == 'index'
        a(href='index.html')#is-active Home
        a(href='community.html') Community
        a(href='competition.html') Competition
        a(href='academics.html') Academics
        //span.signup Signup
      if page == 'academics'
        a(href='index.html') Home
        a(href='community.html') Community
        a(href='competition.html') Competition
        a(href='academics.html')#is-active Academics
        //span.signup Signup
        //span.signup Signup
      if page == 'community'
        a(href='index.html') Home
        a(href='community.html')#is-active Community
        a(href='competition.html') Competition
        a(href='academics.html') Academics
        //span.signup Signup
      if page == 'competition'
        a(href='index.html') Home
        a(href='community.html') Community
        a(href='competition.html')#is-active Competition
        a(href='academics.html') Academics
        //span.signup Signup

// Games list for sigup form
//- mixin games(game)
//-   .form-game
//-     p #{ game }
//-     input(type='radio', value='yes', name='#{ game }')
//-     span Yes
//-     input(type='radio', value='no', name='#{ game }', checked)
//-     span No
