// Webite header navigation on desktop
mixin computer-header(page)
  header
    a(href='/')
      img(src='img/logo.png')
    #mobile-header-toggle
    nav
      if page == 'academics'
        a(href='community.html') Community
        a(href='competition.html') Competition
        a(href='academics.html')#is-active Academics

      else if page == 'community'
        a(href='community.html')#is-active Community
        a(href='competition.html') Competition
        a(href='academics.html') Academics

      else if page == 'competition'
        a(href='community.html') Community
        a(href='competition.html')#is-active Competition
        a(href='academics.html') Academics

      else
        a(href='community.html') Community
        a(href='competition.html') Competition
        a(href='academics.html') Academics


// Website header navigation on mobile
mixin mobile-header(page)
  #mobile-header
    if page == 'academics'
      a(href='community.html') Community
      a(href='competition.html') Competition
      a(href='academics.html')#is-active Academics
    
    else if page == 'community'
      a(href='community.html')#is-active Community
      a(href='competition.html') Competition
      a(href='academics.html') Academics

    else if page == 'competition'
      a(href='community.html') Community
      a(href='competition.html')#is-active Competition
      a(href='academics.html') Academics

    else
      a(href='community.html') Community
      a(href='competition.html') Competition
      a(href='academics.html') Academics
