extends _layout

block content
  include _mixins
  +computer-header('academics')

  section#about
    h1.heading Our Mission
    #staff
      .person
        img(src='img/staff/group.png')
          
    p=data.site.about
    
    h1.heading Join Us
    #contact
      #map
      p X224, X Block, QUT Gardens Point Campus, Brisbane, Queensland, Australia 4000
      //a#email(href='mailto:qutesport@gmail.com') qutesport@gmail.com
