extends _layout

block content
  include _mixins
  +computer-header('community')
  +mobile-header('community')

  
  section#events
    h1.heading Events Calendar
    // Events calendar
    #calendar

  section#socials
    h1.heading Our Communites
    #fb-root
    #social-widgets
      // Discord widget
      iframe(src='https://discordapp.com/widget?id=283925065613967360&theme=dark', allowtransparency='true', frameborder='0')
      
      // Facebook widget
      .fb-page(data-href='https://www.facebook.com/QUTeSports/', data-tabs='timeline',data-width='500', data-height='500', data-small-header='false', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true')
        blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/QUTeSports/')

    h1.heading Sign Up To Our Newsletter
    // Mailchimp form
    #mc_embed_signup
      form#mc-embedded-subscribe-form.validate(action='https://facebook.us15.list-manage.com/subscribe/post?u=a47b185a851c1032f96bb3abb&id=f2f5f60545', method='post', name='mc-embedded-subscribe-form', target='_blank')
        #mc_embed_signup_scroll
          .mc-field-group
            input#mce-EMAIL.required(type='email', value='', name='EMAIL', placeholder='Email Address', required)
            input#mc-embedded-subscribe(type='submit', value='Subscribe', name='subscribe')
          #mce-responses.clear
            #mce-error-response.response(style='display:none')
            #mce-success-response.response(style='display:none')
          div(style='position: absolute; left: -5000px;', aria-hidden='true')
            input(type='text', name='b_a47b185a851c1032f96bb3abb_f2f5f60545', tabindex='-1', value='')