extends _layout

block content
  include _mixins
  +computer-header('index')
  
  section#home
    #heading
      h1=data.site.title
      p=data.site.lead
      a.button(target='_blank', href='https://pay.qut.edu.au/QUTeSportsSem2Membership') BECOME A MEMBER
      //- #wrapper.button
      //-   a(target='_blank', href='')
      //-     h2 Countdown to Real World Futures
      //-     #timer
