extends _layout

block content
  +computer-header()
  +mobile-header()
  
  section#home
    #heading
      h1=contentful.sitedefaults[0].title
      p=contentful.sitedefaults[0].lead
      a.button(target='_blank', href='') BECOME A MEMBER
      //- #wrapper.button
      //-   a(target='_blank', href='')
      //-     h2 Countdown to Real World Futures
      //-     #timer
