extends _layout

block content
  +computer-header()
  +mobile-header()
  
  section#home
    div.fb-customerchat(page_id='1311320422239894')
    #heading
      h1=data.site.title
      p=data.site.lead
      a.button(target='_blank', href='') BECOME A MEMBER
      //- #wrapper.button
      //-   a(target='_blank', href='')
      //-     h2 Countdown to Real World Futures
      //-     #timer
