@import sass/vars

html, body, h1, h2, p
  padding: 0
  margin: 0
  color: white
  font-family: sans-serif

html
  height: 100%
  overflow: hidden
  background: url(../images/covers/cover.png) no-repeat center center fixed
    size: cover

body
  height: 100%
  overflow: auto


section
  height: calc(100% - 120px)

  h1
    font-size: 40px
    text-align: center

  @media (max-width: 1000px)
    h1
      font-size: 60px
      margin-top: 40px

  h2
    margin-bottom: 15px
    text-align: center

  @media (max-width: 1000px)
    h2
      font-size: 40px

@import sass/header
@import sass/home
@import sass/about
@import sass/games
@import sass/events
