html, body, h1, p
  padding: 0
  margin: 0
  color: white
  font-family: sans-serif

html, body
  height: 100%
  width: 100%

body
  background:
    image: url(../images/covers/home.jpg)
    size: cover
    position: center

section
  height: calc(100% - 120px)

@import includes/sass/vars
@import includes/sass/header
@import includes/sass/home
@import includes/sass/about
@import includes/sass/games
