@import sass/font.sass
@import sass/vars
@import sass/header
@import sass/index
@import sass/about
@import sass/games
@import sass/events
@import sass/socials

html, body, h1, h2
  padding: 0
  margin: 0
  color: white
  font-family: 'nevisbold'

p
  font-family: 'uvf_bourgeois_med'
  padding: 0
  margin: 0

body
  height: 100%

  #background
    position: fixed
    top: 0
    left: 0
    height: 150%
    width: 100%
    overflow: hidden
    z-index: -1
    background: url(../images/cover-4.png) no-repeat center center fixed
      size: cover

  section
    position: absolute
    height: 100%
    width: 100%
    padding-top: 9rem

    h1
      font-size: 2.5rem
      text-align: center

    h2
      margin-bottom: 1rem
      text-align: center

@media (max-width: 900px)
  html
    font-size: 10px
