mixin header(page)
  header
    img(src='images/logo.png')
    nav
      if page == 'index'
        a(href='events') Events
        a(href='socials') Socials
        a(href='games') Games
        a(href='about') About
      if page == 'about'
        a(href='events') Events
        a(href='socials') Socials
        a(href='games') Games
        a(href='index') Home
      if page == 'games'
        a(href='events') Events
        a(href='socials') Socials
        a(href='index') Home
        a(href='about') About
      if page == 'events'
        a(href='socials') Socials
        a(href='games') Games
        a(href='index') Home
        a(href='about') About
      if page == 'socials'
        a(href='socials') Events
        a(href='games') Games
        a(href='index') Home
        a(href='about') About
