mixin computer-header(page)
  header
    a(href='index')
      img(src='images/logo.png')
    h1#mobile-header-toggle ☰
    nav
      if page == 'index'
        a(href='index')#isactive Home
        a(href='events') Events
        a(href='games') Games
        a(href='socials') Socials
        a(href='about') About
        span.signup Signup
      if page == 'about'
        a(href='index') Home
        a(href='events') Events
        a(href='games') Games
        a(href='socials') Socials
        a(href='about')#isactive About
        span.signup Signup
      if page == 'games'
        a(href='index') Home
        a(href='events') Events
        a(href='games')#isactive Games
        a(href='socials') Socials
        a(href='about') About
        span.signup Signup
      if page == 'events'
        a(href='index') Home
        a(href='events')#isactive Events
        a(href='games') Games
        a(href='socials') Socials
        a(href='about') About
        span.signup Signup
      if page == 'socials'
        a(href='index') Home
        a(href='events') Events
        a(href='games') Games
        a(href='socials')#isactive Socials
        a(href='about') About
        span.signup Signup

mixin mobile-header()
  #mobile-header
    a(href='index') Home
    a(href='events') Events
    a(href='games') Games
    a(href='socials') Socials
    a(href='about') About
    span.signup Signup

mixin games(game)
  .form-game
    p #{ game }
    input(type='radio', value='yes', name='#{ game }')
    span Yes
    input(type='radio', value='no', name='#{ game }', checked)
    span No
