mixin computer-header(page)
  header
    a(href='index')
      img(src='images/logo.png')
    h1#mobile-header-toggle ☰
    nav
      if page == 'index'
        a(href='events') Events
        a(href='socials') Socials
        a(href='games') Games
        a(href='about') About
      if page == 'about'
        a(href='index') Home
        a(href='events') Events
        a(href='socials') Socials
        a(href='games') Games
      if page == 'games'
        a(href='index') Home
        a(href='events') Events
        a(href='socials') Socials
        a(href='about') About
      if page == 'events'
        a(href='index') Home
        a(href='socials') Socials
        a(href='games') Games
        a(href='about') About
      if page == 'socials'
        a(href='index') Home
        a(href='events') Events
        a(href='games') Games
        a(href='about') About

mixin mobile-header(page)
  #mobile-header
    if page == 'index'
      a(href='events') Events
      a(href='socials') Socials
      a(href='games') Games
      a(href='about') About
    if page == 'about'
      a(href='index') Home
      a(href='events') Events
      a(href='socials') Socials
      a(href='games') Games
    if page == 'games'
      a(href='index') Home
      a(href='events') Events
      a(href='socials') Socials
      a(href='about') About
    if page == 'events'
      a(href='index') Home
      a(href='socials') Socials
      a(href='games') Games
      a(href='about') About
    if page == 'socials'
      a(href='index') Home
      a(href='events') Events
      a(href='games') Games
      a(href='about') About
