include _mixins
+computer-header('about')

section#about
  h1.heading About Us
  #staff
    .person
      img(src='images/staff/group.png')
        
  p #{ about }
  
  h1.heading Contact Us
  #contact
    #map
    p X224, X Block, QUT Gardens Point Campus, Brisbane, Queensland, Australia 4000
    //a#email(href='mailto:qutesport@gmail.com') qutesport@gmail.com
