include _mixin
+header('about')
section#about
  h1 About Us
  #staff
    each person, index in staff
      .person
        img(src='http://fillmurray.com/300/300')
        span #{ index }
        
  p #{ about }
