include _mixin
+computer-header('about')
+mobile-header('about')
section#about
  h1 About Us
  #staff
    each person, index in staff
      .person
        img(src='#{ person }')
        span #{ index }
        
  p #{ about }
  h1 Contact Us
  #map
  a#contact(href='mailto:qutesports@connect.qut.edu.au') qutesports@connect.qut.edu.au
