include _mixin
+computer-header('about')
+mobile-header()
section#about
  h1 About Us
  #staff
    each person, index in staff
      .person
        img(src='#{ person }')
        span #{ index }
        
  p #{ about }
  h1 Contact Us
  #contact
    #map
    p X224, X Block, QUT Gardens Point Campus, Brisbane, Queensland, Australia 4000
    a#email(href='mailto:qutesport@gmail.com') qutesport@gmail.com
