include _mixins
+computer-header('about')

section#about
  h1.heading About Us
  #staff
  
    // Looping through staff members in harp.json
    each person, index in staff
      .person
        img(src='#{ person }')
        span #{ index }
        
  p #{ about }
  
  h1.heading Contact Us
  #contact
    #map
    p X224, X Block, QUT Gardens Point Campus, Brisbane, Queensland, Australia 4000
    //a#email(href='mailto:qutesport@gmail.com') qutesport@gmail.com
