include _mixin
+computer-header('about')
+mobile-header('about')
section#about
  h1 About Us
  #staff
    each person, index in staff
      .person
        img(src='http://fillmurray.com/300/300')
        span #{ index }
        
  p #{ about }
  h1 Contact Us
  a(href='mailto:qutesports@connect.qut.edu.au') qutesports@connect.qut.edu.au
