include _mixin
+computer-header('events')
+mobile-header('events')
section#events
  h1 Events Calendar
  .dsm-fb-event(data-embed-id='1860')
    script(src='https://www.displaysocialmedia.com/app/embed/facebook-events/widget.js')
  h1 Sign Up To Our Newsletter
