header
  img(src='images/logo.png')
  nav
    a(href='about') About
    a(href='index') Home

section#games
  h1 Our Games
  each game, index in games
    .game
      img(src='#{ game }', title='Click to learn more..')  
      .game-details
        h2 About the game...
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        h2 Our Team
        .team-faces
          .person
            img(src='http://www.fillmurray.com/200/200')
            p name
          .person
            img(src='http://www.fillmurray.com/200/200')
            p name
          .person
            img(src='http://www.fillmurray.com/200/200')
            p name
          .person
            img(src='http://www.fillmurray.com/200/200')
            p name
          .person
            img(src='http://www.fillmurray.com/200/200')
            p name
          .person
            img(src='http://www.fillmurray.com/200/200')
            p name
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
