include ../includes/jade/layout

header
  img(src='images/logo.png')
  nav
    a(href='about') About
    a(href='index') Home

section#games
  h1 Our Games
  each game, index in games
    a(href='') 
      img(src='#{ game }')
