include _mixins
+computer-header('index')

section#home
  #heading
    h1 #{ title }
    p #{ lead }
    a(target='_blank', href='https://pay.qut.edu.au/QUTeSportsSem2Membership') Click here to become a member today
