include ../includes/jade/layout

header
  img(src='images/logo.png')
  nav
    a(href='games.html') Games
    a(href='about.html') About
    
section#home
  #heading
    h1 #{ title }
    p #{ lead }
