include _mixin
+header('socials')
section#socials
  h1 Connect With Us On Facebook And Discord
  #social-widgets
    iframe(src='https://discordapp.com/widget?id=283925065613967360&theme=dark' allowtransparency='true' frameborder='0')
