include _mixin
+computer-header('socials')
+mobile-header('socials')
section#socials
  h1 Our Communites
  #social-widgets
    iframe(src='https://discordapp.com/widget?id=283925065613967360&theme=dark' allowtransparency='true' frameborder='0')
