header
  display: flex
  align-items: center
  justify-content: space-between
  height: 120px
  width: 100%

  img
    height: 150px
    width: 150px
    margin-left: 20px

  @media (max-width: 1000px)
    img
      height: 200px
      width: 200px
      margin-top: 30px

  nav
    margin-right: 20px

    a
      font-size: 15px
      color: white
      text-decoration: none
      margin-left: 20px
      padding: 10px 30px
      background: lighten($qut-blue, 10%)
      border: 3px solid $qut-blue
      border-radius: 20px
      cursor: pointer

      &:hover
        background: $qut-blue

    @media (max-width: 1000px)
      a
        font-size: 40px
        border-radius: 45px
