#about
  p
    font-size: 1.8rem
    text-align: justify
    margin: 10px
    background: rgba($light-blue, 0.6)

  #contact
    margin: 10px

    #map
      height: 32rem

      h1
        color: black
        font-size: 1rem
        margin-bottom: 0.5rem

    p
      text-align: center

    #email
      display: block
      text-align: center
      font-size: 2rem
      padding: 10px 0
      background: $light-blue
      word-wrap: break-word

  #staff
    .person
      inline-block()
      padding: 20px 0 0

      img
        size(calc(100% - 80px) 90%)
        margin:  0 40px
