#about
  p
    font-size 1.8rem
    text-align justify
    padding 10px

  #contact
    #map
      height 32rem
      margin 10px
      border-radius 5px

      h1
        color black
        font-size 1rem
        margin-bottom 0.5rem

    p
      text-align center

    #email
      display block
      text-align center
      font-size 2rem
      padding 10px 0
      background $light-blue
      word-wrap break-word

  .about, .address
    width calc(100% - 20px)
    background rgba($light-blue, 0.6)
    margin 10px
    border-radius 5px

  #staff
    .people
      img
        size(calc(100% - 20px) 90%)
        margin  0 10px
        border-radius 5px

