#socials
  #social-widgets
    display flex
    flex-wrap wrap
    justify-content space-around
    align-items center

    @media (max-width 1000px)
      padding-top 0

    iframe, .fb-page
      size(500px)
      overflow hidden

      @media (max-width 1000px)
        size(400px)
        margin 10px auto

      @media (max-width 400px)
        size(300px)

    .fb-page
      display block

#events
  margin-top 0

  #calendar
    font-family 'uvf_bourgeois_med'
    width calc(100% - 60px)
    margin 20px 30px
    font-size 1.2rem

    .fc-other-month
      opacity 0.8

    .fc-day
      background lighten($grey, 5)

      &.fc-today
        background darken($grey, 5)

    .fc-widget-header
      background darken($grey, 5)

    .fc-button
      background $grey
      outline none
      border none
      color inherit

  #mc_embed_signup
    padding-bottom 20px

    .mc-field-group
      display flex
      flex-wrap wrap
      justify-content center
      align-items flex-end

      .email
        padding 10px
        width 280px
        outline none
        border none
        background $grey
        color inherit
        placeholder(white)

      .button
        margin 0 10px
        background darken($orange, 5%)
        outline none
        border none
        padding 10px
        color inherit
        font-family inherit
        cursor pointer

        @media(max-width 410px)
          margin-top 20px
