#training
  .training
    display flex
    flex-wrap wrap
    justify-content space-around

    .day
      padding 20px

      img
        size(10rem)
        display block
        margin 0 auto

      p
        font-size 2rem
        text-align center

#socials
  margin-top 0

  #social-widgets
    display flex
    flex-wrap wrap
    justify-content space-around
    align-items center

    @media (max-width 1000px)
      padding-top 0

    iframe, .fb-page
      size(500px)
      border-radius 5px
      overflow hidden

      @media (max-width 1000px)
        size(400px)
        margin 10px auto

      @media (max-width 400px)
        size(300px)

    .fb-page
      display block

  #mc_embed_signup
    padding-bottom 20px

    .mc-field-group
      display flex
      flex-wrap wrap
      justify-content center
      align-items flex-end

      input
        border-radius 5px
        outline none
        border none
        padding 10px
        color inherit

      input[type="email"]
        width 280px
        background $grey
        placeholder(white)

      input[type="submit"]
        margin 0 10px
        background darken($orange, 5%)
        cursor pointer

        @media(max-width 410px)
          margin-top 20px
