#games
  p
    font-size 1.8rem
    text-align center

  .game
    img
      width calc(100% - 20px)
      margin 5px 10px
      cursor pointer

    .game-details
      display none
      margin 10px
      padding 10px
      background rgba($light-blue, 0.6)

      h2
        font-size 2rem

      p
        text-align justify
        margin-bottom 20px

      .team-faces
        display flex
        justify-content space-around
        flex-wrap wrap

        .person
          img
            size 10rem
            border-radius 50%
            cursor auto

          p
            text-align center
