header
  display flex
  justify-content space-between
  align-items center
  fixed(top 0)
  size(100% 8rem)
  background $light-blue
  box-shadow 0 5px 15px $shadow
  z-index 100

  img
    size(10rem 5rem)
    margin-left 20px

  nav
    margin-right 20px

    @media (max-width 1000px)
      display none

    a
      margin-left 20px
      padding 10px 30px
      text-decoration none
      background $light-blue
      border 2px solid white
      border-radius 5px
      cursor pointer

      &:hover
        background $orange

#mobile-header-toggle
  display none

  @media (max-width 1000px)
    display block
    size(3rem)
    margin-right 20px

#mobile-header
  display none
  fixed(top 8rem)
  width 100%
  background $light-blue
  z-index 2

  a
    display block
    font-size 2rem
    padding 10px 0
    border-bottom solid 2px white
    color inherit
    text-decoration none
    text-align center
