#home
  display flex
  align-items center
  justify-content center

  h1
    font-size 6rem

  p
    text-align center
    margin-top 10px
    font-size 3rem

  a
    display block
    text-align center
    margin 10px 30px
    text-decoration none
    background-color $orange
    box-shadow 0 5px 0 0 darken($orange, 10)
    font-family 'uvf_bourgeois_med'
    font-size 1.8rem
    hover-lighten()

  #wrapper
    background-color $blue
    box-shadow 0 5px 0 0 darken($blue, 10)
    border-radius 1rem
    margin 20px 30px

    a
      background  none
      box-shadow none

    #timer
      font-size 2rem
      text-align center
