// Mixin to change colour of placeholder in signup form
placeholder($color)
  &::-webkit-input-placeholder
    color: $color

  &:-moz-placeholder
    color: $color

  &::-moz-placeholder
    color: $color

  &:-ms-input-placeholder
    color: $color
