#socials
  #social-widgets
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    align-items: center
    align-content: center
    padding-top: 30px

    iframe, .fb-page
      size: 500px

    .fb-page
      display: block

  @media (max-width: 1000px)
    #social-widgets
      padding-top: 0

      iframe, .fb-page
        size: 400px
        margin: 10px auto

  @media (max-width: 400px)
    #social-widgets
      iframe, .fb-page
        size: 300px
