normalize-css()

// Imports all sytlesheets
@import '_settings'
@import '_vars'
@import '_font'
@import '_mixins'
@import '_header'
@import '_index'
@import '_academics'
@import '_competition'
@import '_community'

html, body, h1, h2
  color white
  font-family 'nevisbold'

+below(900px)
  html
    font-size 10px

body
  height 100%

  #is-active
    background $orange

  section
    margin-top 8rem
    size(100% calc(100% - 8rem))

    h1
      margin-bottom 20px
      font-size 2.5rem
      text-align center

    h2
      margin-bottom 1rem
      text-align center


  .heading
    padding-top 20px

  p
    font-family 'uvf_bourgeois_med'
    padding 0
    margin 0
  a
    color inherit
    cursor pointer

  #background
    fixed()
    size(100%)
    z-index -1
    overflow hidden
    gradient($dark-blue, white)
